
<header class="container">
    <h1>¡Descubre con quién conectas!</h1>
    <span class="separator"></span>
</header>

{{> user/matchGenres}}
    
{{> user/matchArtist}}

{{> user/matchTrack}}

{{#unless matches}}
    <p>Vaya, parece que no tienes coincidencias en gustos con ninguno de nuestros usuarios :(</p>
    <p>¡Eso es porque eres muy especial!</p>
    <p>Pero no importa, disfruta de la música y pronto encontraremos personas para ti ;)</p>
{{/unless}}



