{{#if user.followingArtists}}
<section class="profile__section">
    <header class="container">
        <h2>Descubre a qué artistas sigue</h2>
        <span class="separator"></span>
    </header>
    <section class="d-flex flex-wrap">
        {{#each user.followingArtists as |artist|}}
        <article class="item-card">
            <a href="{{artist.url}}" target="_blank">
                <img class="item-card__img" src="{{artist.imgUrl}}" alt="{{artist.name}}">
                <div class="item-card__content">
                    <h5 class="item-card__title">{{artist.name}}</h5>
                </div>
            </a>
        </article>
        {{/each}}
    </section>
</section>
{{/if}}