<header class="container">
    <h2>¿Quieres conectar?</h2>
    <span class="separator"></span>
</header>

<section class="">
    <form method="POST" class="container" action="/user/{{user.name}}/messages">
        <div class="">
            <input class="chat__send-msg form-control" type="text" name="message" placeholder="Cuéntale algo sobre ti, pregúntale, comparte...">
        </div>
        <div>
            <button type="submit" class="btn bg-spotify font-weight-bold color-light">¡Contacta con {{user.name}}!</button>
        </div>
    </form>
</section>