@import 'general/vars';

.profile {
    &__header {
        display: flex; 
        flex-direction: column; 
        flex-wrap: wrap;
        align-items: center;
        padding: 5% 0;
        background-image: url('/images/bgs/bg-2.jpg');
        background-size: cover;
    }
    &__image {
        box-shadow: 0 12px 50px 0 rgba(37,32,51,.25);
    }

    &__inbox {
        text-align: center;
        font-size: 30px;
        &:hover {
            color: darken( $color-primary, 10% )
        }
    }

    &__section {
        margin-top: 5%;
    }
}


.ribbon {
    background-color: $color-primary;
    color: $color-secondary;
    font-weight: 800;
    padding: 0.5em;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.send-message {
    form {
        > * {
            display: block;
        }
    }
}