//COMMON FILES
@import 'general/vars';
@import 'general/_reset';

//COMPONENTS
@import 'components/footer';
@import 'components/item-cards';
@import 'components/ribbon';

//CUSTOM STYLES
@import 'profile';


@font-face {
    font-family: "AlteHaasGroteskBold";
    src: url("/fonts/AlteHaasGroteskBold.ttf");
}

body {
    font: 16px "Open Sans", Helvetica, Arial, sans-serif;
    background-color: #000000;
    color: #fff;
}
   
a {
    color: $color-primary;
    &:hover {
        color: $color-primary;
    }
}

h1 {
    font-family: "AlteHaasGroteskBold", "Arial", sans-serif;
} 

h1, h2, h3, h4 {
    margin: 20px 0;
}


.spotify-button {
    border-radius: 50px;
    background-color: $color-spotify;
}

.separator {
    display: block;
    margin-bottom: 3em;
    height: 5px;
    width: 10%;
    background-color: $color-primary;
}





// .dropdown-menu {
//     display: block;
//     background-color: none;
// }