//COMMON FILES
@import 'general/vars';
@import 'general/_reset';

//COMPONENTS
@import 'components/footer';
@import 'components/item-cards';
@import 'components/inbox';

//CUSTOM STYLES
@import 'profile';


@font-face {
    font-family: "AlteHaasGroteskBold";
    src: url("/fonts/AlteHaasGroteskBold.ttf");
}

body {
    font: 16px "Open Sans", Helvetica, Arial, sans-serif;
    background-color: #000;
    color: #fff;
    padding-bottom: 80px;
}

main {
    padding-top: 70px;
}

a {
    color: $color-primary;
    &:hover {
        color: $color-primary;
    }
}

h1, 
h2, 
h3, 
h4 {
    font-family: "AlteHaasGroteskBold", "Arial", sans-serif;
} 

h1, 
h2 {
    margin: 40px 0 8px;
}
 
h3, 
h4 {
    margin: 20px 0;
}

h4 {
    font-style: italic;
}

.top-nav {
    position: fixed;
    width: 100%;
    z-index: 200;
}

.nav-logo {
    background-color: $color-secondary;
}

.spotify-button {
    border-radius: 50px;
    background-color: $color-spotify;
    width: 200px;
    height: 50px;
    font-size: 18px;
    font-weight: 400;
}

.separator {
    display: block;
    margin-bottom: 3em;
    height: 5px;
    width: 10%;
    background-color: $color-primary;
}

.bg-spot-it {
    background-color: $color-primary;
}

.bg-spotify {
    background-color: $color-spotify;
}

.color-spot-it {
    color: $color-primary;
}

.color-spotify {
    color: $color-spotify;
}

.login-info {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3em;
    justify-content: center;

    &__box {
    width: 30%;
    text-align: center;
    padding: 5% 0;
    background-size: cover; 
    font-weight: 800;
        p {
            padding: 0 10px;
        }

        h4, i {
            color: $color-white
        }
    }

    &__boxtop {
        background-color: $color-home-box;
        opacity: 0.9;
        color: $color-secondary;
    }

    &__boxcenter {
        background-color: $color-home-box;
        color: $color-secondary;
    }

    &__boxbottom {
        background-color: $color-home-box;
        opacity: 0.8;
        color: $color-secondary;
    }

}

.main-menu {
    background-color: $color-primary;
    display: flex;
    flex-direction: row;
    justify-content:  space-evenly;

    a {
        display: block;
        width: 25%;
        text-align: center;
        padding: 1em 0;
        &:hover {
            background-color: lighten($color-primary, 20%)
        }
    }

    &__icon {
        font-size: 2em;
        color: $color-secondary;
    }
}

.img-home {
    width: 200px;
    margin-top: 10%;
}

.img-small {
    max-width: 40px;
}

.img-medium {
    max-width: 80px;
}

.img-big {
    max-width: 200px;
}

.user-image {
    border-radius: 50%;
}

.to-right {
    background-color: $color-messages;
    text-align: end;

    &:hover {
    background-color: $color-messages;
    }

    &__content {
    text-align: end;
    }
}

.to-left {
    background-color: $color-white;

    &:hover {
    background-color:$color-white;
    }
}

.footer {
    background-color: $color-primary;
    display: flex;
    flex-direction: row;
    justify-content:  space-evenly;
    
    &__ul {
        display: flex;
        justify-content: space-between;
    }

    &__li {
        display: flex;
        flex-direction: row;
        list-style-type: none;
    }

    img {
        width: 35px;
        height: 35px;
    }
}
