//COMMON FILES
@import 'general/vars';
@import 'general/_reset';

//COMPONENTS
@import 'components/footer';
@import 'components/item-cards';
@import 'components/inbox';

//CUSTOM STYLES
@import 'profile';


@font-face {
    font-family: "AlteHaasGroteskBold";
    src: url("/fonts/AlteHaasGroteskBold.ttf");
}

body {
    font: 16px "Open Sans", Helvetica, Arial, sans-serif;
    background-color: #000;
    color: #fff;
}
   
a {
    color: $color-primary;
    &:hover {
        color: $color-primary;
    }
}

h1, 
h2, 
h3, 
h4 {
    font-family: "AlteHaasGroteskBold", "Arial", sans-serif;
} 

h1, 
h2 {
    margin: 20px 0 8px;
}
 
h3, 
h4 {
    margin: 20px 0;
}

h4 {
    font-style: italic;
}

.nav-logo {
    background-color: #000000;
}

.spotify-button {
    border-radius: 50px;
    background-color: $color-spotify;
}

.separator {
    display: block;
    margin-bottom: 3em;
    height: 5px;
    width: 10%;
    background-color: $color-primary;
}

.bg-spot-it {
    background-color: $color-primary;
}

.bg-spotify {
    background-color: $color-spotify;
}

.color-spot-it {
    color: $color-primary;
}

.color-spotify {
    color: $color-spotify;
}

.login-info {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1.5em;

    &__box {
    width: 50%;
    text-align: center;
    padding: 5% 0;
    background-size: cover; 
    font-weight: 800;
    }

    &__boxtop {
        background-color: $color-primary;
        border: solid 3px #000000;
    }

    &__boxcenter {
        background-color: $color-secondary;
        border-right: solid 3px #fff;
    }

    &__boxbottom {
        background-color: $color-spotify;
        border: solid 3px #000000;
    }

}

.main-menu {
    background-color: $color-primary;
    display: flex;
    flex-direction: row;
    justify-content:  space-evenly;

    a {
        display: block;
        width: 25%;
        text-align: center;
        padding: 1em 0;
        &:hover {
            background-color: lighten($color-primary, 20%)
        }
    }

    &__icon {
        font-size: 2em;
        color: #000000;
    }
}

.img-home {
    width: 200px;
    margin-top: 10%;
}

.img-small {
    max-width: 40px;
}

.img-medium {
    max-width: 80px;
}

.img-big {
    max-width: 200px;
}

.user-image {
    border-radius: 50%;
}

.footer {
    background-color: $color-primary;
    display: flex;
    flex-direction: row;
    justify-content:  space-evenly;
    
    &__ul {
        display: flex;
        justify-content: space-between;
    }

    &__li {
        display: flex;
        flex-direction: row;
        list-style-type: none;
    }
}
