<footer>
        <nav class="container">
            <ul>
                <li><a href="/"><img class="img-small" src="/images/spot-it-black.png" alt=""></a>© 2018</li>
                <li>Made with coffe, patience & love in Ironhack</li>
                <li>About Us <a href="https://www.linkedin.com/in/paula-quitián-hernández-83744961/"><img class="img-small user-image" src="/images/founders/paula.jpeg" alt=""><a href="https://www.linkedin.com/in/estibalizfernandezpalacios/"><img class="img-small user-image" src="/images/founders/esti.jpeg" alt=""></a></li>
            </ul>
        </nav>
</footer>