<footer>
    <div class="container">
        <nav>
            <ul>
                <li>¿Quiénes somos?</li>
                <li>FAQs</li>
                <li>Contacto</li>
            </ul>
        </nav>
    </div>
</footer>