<footer>
        <nav class="container">
            <ul>
                <li class="d-flex flex-row align-items-center justify-content-center"><a href="/"><img class="img-small" src="/images/spot-it-black.png" alt=""></a>© 2018</li>

                <li>Made with coffe, patience & love in Ironhack</li>

                <li>About Us 
                    <a target="_blank" href="https://es.linkedin.com/in/pquitian/">
                        <img class="img-small user-image" src="/images/founders/paula.jpeg" alt="Paula">
                    </a>
                    <a target="_blank" href="https://es.linkedin.com/in/estibalizfernandezpalacios">
                        <img class="img-small user-image" src="/images/founders/esti.jpeg" alt="Estíbaliz">
                    </a>
                </li>
            </ul>
        </nav>
</footer>