<footer class="footer">
    <div class="container">
        <nav>
            <ul class="footer__ul">
                <li class="footer__li">¿Quiénes somos?</li>
                <li class="footer__li">Política de Cookies</li>
                <li class="footer__li">CONTACTO</li>
            </ul>
        </nav>
    </div>
</footer>