{{#if session}}
	<nav>
		<ul class="main-menu">
			<a href="/user/{{user.name}}"><li><img class="main-menu__profile nav-logo" src="/images/png-small.png" alt=""></li></a>
			<a href="/user/{{user.name}}/messages"><li class="main-menu__icon"><i class="fas fa-comments"></i></li></a>
			<a href="/user/{{user.name}}"><li class="main-menu__icon"><img class="main-menu__profile" src="{{user.image}}" alt=""></li></a>
			<a href="/user/logout"><li class="main-menu__icon"><i class="fas fa-power-off"></i></li></a>
		</ul>
	</nav>
{{/if}}
