{{#if session}}
<div class="">
    <nav class="navbar navbar-dark">
        <button class="btn" type="button" id="dropdownMenuBoton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collapsible content -->
        <div class="dropdown-menu" aria-labelledby="dropdownMenuBoton">
            <!-- Links -->
            <ul class=" ">
                <li class="">
                    <a class="" href="#">My profile</a>
                </li>
                <li class="">
                    <a class="" href="#">Find people</a>
                </li>
                <li class="">
                    <a class="" href="#">Messages</a>
                </li>
            </ul>
            <!-- Links -->
        </div>
        <!-- Collapsible content -->
    </nav>
</div>
{{/if}}