{{#if session}}
<div>
	<nav>
		<ul class="main-menu">
			<a href="#"><li class="main-menu__icon"><i class="fas fa-users"></i></li></a>
			<a href="/user/{{user.name}}/messages"><li class="main-menu__icon"><i class="fas fa-comments"></i></li></a>
			<a href="/user/me"><li class="main-menu__icon"><img class="main-menu__profile" src="{{user.image}}" alt=""></li></a>
			<a href="/user/logout"><li class="main-menu__icon"><i class="fas fa-power-off"></i></li></a>
		</ul>
	</nav>
</div>
{{/if}}