<section class="text-center">
  <div>
    <img class="img-home" src="/images/logo-spot-it.png" alt="">
  </div>
  <h2>PLAY MUSIC</h2>
  <h3>CONNECT PEOPLE</h3>
</section>

<section class="text-center">
  <form action="/auth" method="POST">
    <button class="btn spotify-button" type="submit">
      <i class="fab fa-spotify"></i> Login with Spotify</button>
  </form>

</section>

<section class="login-info">
  <div class="login-info__box login-info__boxtop">
    <h4>ENCUENTRA</h4>
    <p>En Spot-it encontrarás personas con gustos musicales similares a los tuyos basados en tu perfil de Spotify</p>
  </div>
  <div class="login-info__box login-info__boxcenter">
    <h4>CONECTA</h4>
    <p>Con nuestro chat podrás hablar, conocer, descubrir... personas con las que conectas de verdad</p>
  </div>
  <div class="login-info__box login-info__boxbottom">
   <h4>DESCUBRE</h4>
    <p>Descubre cuáles son tus canciones más escuchadas, las playlist y los artistas a los que sigues</p>
  </div>
</section>





{{!-- </section>
<section class="login-info">
  <div class="login-info__box login-info__boxtop">
    <p>ENCUENTRA</p>
  </div>
  <div class="login-info__box login-info__boxtop">
    <p>En Spot-it encontrarás personas con gustos musicales similares a los tuyos basados en tu perfil de Spotify</p>
  </div>
  <div class="login-info__box login-info__boxcenter">
    <p>Con nuestro chat podrás hablar, conocer, descubrir... personas con las que conectas de verdad</p>
  </div>
  <div class="login-info__box login-info__boxcenter">
    <p>CONECTA</p>
  </div>

  <div class="login-info__box login-info__boxbottom">
    <p>DESCUBRE</p>
  </div>
  <div class="login-info__box login-info__boxbottom">
    <p>Descubre cuáles son tus canciones más escuchadas, las playlist y los artistas a los que sigues</p>
  </div>
</section> --}}