<section class="text-center">
  <h1>{{title}}</h1>
  <p>PLAY MUSIC</p>
  <p>CONNECT PEOPLE</p>
</section>

<section class="text-center">
  <form action="/auth" method="POST">
    <button class="btn spotify-button" type="submit">
     <i class="fab fa-spotify"></i> Login with Spotify</button>
  </form>
</section>