<section class="text-center">
  <div>
    <img class="img-home" src="/images/logo-spot-it.png" alt="">
  </div>
  <p>PLAY MUSIC</p>
  <p>CONNECT PEOPLE</p>
</section>

<section class="text-center">
  <form action="/auth" method="POST">
    <button class="btn spotify-button" type="submit">
      <i class="fab fa-spotify"></i> Login with Spotify</button>
  </form>
</section>

<section class="login-info">
  <div class="login-info__box login-info__lr">
    <p>ENCUENTRA</p>
  </div>
  <div class="login-info__box login-info__rl">
    <p>En Spot-it encontrar치s personas con gustos musicales similares a los tuyos basados en tu perfil de Spotify</p>
  </div>
  <div class="login-info__box login-info__lrg">
    <p>Con nuestro chat podr치s hablar, conocer, descubrir... personas con las que conectas de verdad</p>
  </div>
  <div class="login-info__box login-info__rlg">
    <p>CONECTA</p>
  </div>

  <div class="login-info__box login-info__lrv">
    <p>DESCUBRE</p>
  </div>
  <div class="login-info__box login-info__rlv">
    <p>Descubre cu치les son tus canciones m치s escuchadas, las playlist y los artistas a los que sigues</p>
  </div>
</section>