//COLOR VARIABLES
$color-primary: #ffd800; 
$color-secondary: #000000; 
$color-white: #ffffff; 
$color-spotify: #1DB954;
$color-messages: #ffffcc;
$color-home-box: #D2563C;
// $color-violet: #D56D70;


//DEVICES VARIABLES
$m-device: 'screen and (min-width: 768px)';
$l-device: 'screen and (min-width: 992px)';
$xl-device: 'screen and (min-width: 1200px)';