@import '../general/vars';

$x-position: -15px;
$y-position: 25px;
$b-width: 10px;

.chat {
    > header {
        padding-top: 2em;
        padding-bottom: 1em;

        div {
            display: flex;
        flex-direction: row; 
        justify-content: space-around;
        align-items: center;
        }
    }

    &__container {
        display: flex;
        flex-direction: column; 
        flex-wrap: wrap;
        padding-top: 3%; 
        padding-bottom: 5%;
    }

    &__send-msg {
        position: relative;
        width: 80%;
        margin: 1% 0;
        padding: 2em;
        // border-radius: 15px;
        background-color: $color-white;
        color: black;
    }
    &__bubble {
        position: relative;
        width: 80%;
        margin: 1% 0;
        padding: 1em;
        border-radius: 15px;
        background-color: $color-white;
        color: black;

        p{
            font-size: 18px;
        }

        &.to-left {
            align-self: flex-start;

            &:before {
                content: " ";
                position: absolute;
                left: $x-position;
                bottom: $y-position;
                border-style: solid;
                border-width: $b-width;
                border-color: $color-white  $color-white transparent transparent;
            }
        }

        &.to-right {
            align-self: flex-end;

            &:after {
                content: " ";
                position: absolute;
                right: $x-position;
                bottom: $y-position;
                border-style: solid;
                border-width: $b-width;
                border-color:  transparent transparent $color-white  $color-white;
            }
        }
        @media #{$l-device} {
            width: 60%;
        }
    }

    &__send {
        position: absolute; 
        width: 100%; 
        bottom: 140px;

        @media #{$l-device} {
            bottom: 110px;
        }

        form {
            display: flex;
            flex-direction: row; 
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
        }
        &-input {
            width: 75%;

            @media #{$l-device} {
                width: 90%;
            }
        }
    }
    
}