<a href="/user/{{user.name}}" class="btn btn-primary">Back to profile</a>

<div class="list-group">

{{#each messages as |ms|}}
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Mensaje</h5>
      <small>{{ms.from}}</small>
    </div>
    <p class="mb-1">{{ms.body}}</p>
    <small>{{ms.to}}</small>
  </a>
{{/each}}
</div>

