<main class="profile">
    <header class="profile__header">
        <h1 class="text-center mb-5">¿Quieres saber más sobre <span class="color-spot-it">{{user.name}}</span>?</h1>
        <figure>
            <img src="{{user.image}}" class="profile__image user-image img-big" alt="{{user.name}}">
        </figure>
    </header>

    {{> user/sendmessage }}


    {{> user/profileTracks }}

    {{> user/profilePlaylists }}
    
    {{> user/profileArtists }}


</main>

