
<main class="profile">
    <header class="profile__header">
        <figure>
            <img src="{{user.image}}" class="profile__image user-image img-big" alt="{{user.name}}">
        </figure>
        <h1>Hola {{user.name}}</h1>
        <a href="/user/{{user.name}}/messages" class="profile__inbox"><i class="fas fa-envelope"></i></a>
    </header>



    {{> user/matches }}

    <header class="container">
        <h2>¡Disfruta con tus favoritos!</h2>
        <span class="separator"></span>
    </header>
    
    
    {{> user/topTracks }}

    {{> user/topArtists }}

    {{> user/topPlaylists }}
   

</main>
